<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Betarium.Betapeta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <Betarium.Betapeta.Properties.Settings>
            <setting name="TargetScreenMode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TargetScreenNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ScreenReviseIgnoreFlag" serializeAs="String">
                <value>False</value>
            </setting>
        </Betarium.Betapeta.Properties.Settings>
    </userSettings>
</configuration>
