<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SQLServerBackupManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Default"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=(local);Integrated Security=SSPI" />
    <add name="Test"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=test_server;user id=sa;password=test_password;Database=test_database" />
  </connectionStrings>
  <applicationSettings>
    <SQLServerBackupManager.Properties.Settings>
      <setting name="BackupDirectory" serializeAs="String">
        <value>d:\temp</value>
      </setting>
    </SQLServerBackupManager.Properties.Settings>
  </applicationSettings>
</configuration>